@model JadooTravel.Dtos.DestinationDtos.ResultDestinationDto

@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <form method="post">
        <input type="text" asp-for="CityCountry" placeholder="Şehir ve Ülke Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="ImageUrl" placeholder="Fotoğraf Yolu Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Price" placeholder="Fiyat Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="DayNight" placeholder="Gün-Gece Giriniz" class="form-control" />
        <br />
        <input type="text" asp-for="Capacity" placeholder="Kapasite Giriniz" class="form-control" />
        <br />
        <textarea asp-for="Description" placeholder="Açıklama Giriniz" class="form-control" rows="5"></textarea>
        <br />
        <button type="submit" class="btn btn-primary">Turu Ekle</button>
    </form>
</div>