@model List<JadooTravel.Dtos.DestinationDtos.ResultDestinationDto>

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Tur Şehir Ülke</th>
            <th>Tur Fiyatı</th>
            <th>Tur Kapasitesi</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DestinationId</td>
                <td>@item.CityCountry</td>
                <td>@item.Price</td>
                <td>@item.Capacity</td>
                <td><a href="/Destination/DeleteDestination/@item.DestinationId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Destination/UpdateDestination/@item.DestinationId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Destination/CreateDestination/" class="btn btn-info">Yeni Tur Girişi</a>
</div>